#container {
    display: flex;   
    flex-direction: row;
    width: 92vw;
    min-width: min-content;
    flex-wrap: wrap;
    padding: 0 100px;
    align-items: center;
}
#contact-title {
    margin: 20px auto;    
    min-width: 450px;
    max-width: 450px;   
    text-align: justify;
    color: #ffffff;
}
#contact-title>h1 {
    padding: 40px 0;
    font-size: 300%;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-decoration: underline #00aee7;
}
#contact-title>p>a {
    color: #00aee7;
}
.FormContact {
    margin: 50px auto;
    min-width: 350px;
    max-width: 500px;
    border-radius: 10px;
    padding: 30px 50px;
    background-color: #292929;
    color: white;
}
.formContactError {
    color: red;
}
.form-input {
    margin: 10px;
}
.real-input {
    width: 350px;
    min-height: 35px;
    padding-left: 5px;
    margin-top: 7px;
    border:2px solid transparent;
    border-radius: 5px;
    outline-style: none;
    outline: none;
}
#submitContact {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #00aee7;
    transition: 0.3s ease;
}
#submitContact:hover {
    transform: scale(1.04);
    cursor: pointer;
}
.real-input:focus {
    border-color:#00bfff ;
    box-shadow: 0px 0px 5px #00bfff;
    outline-style: none;
    outline: none;
}
.real-input::placeholder {
    border: none;   
}
textarea {
    resize: none;
    height: 150px;
    padding: 5px;
}

/* ------------------ mail.php --------------------------- */

#mail {
    display: flex;
    flex-direction: column;
    background-color: #303030;
    margin: 2% auto;
    min-height: 60vh;
    min-width: max-content;
    width: 40%;
    color: white;
    border: solid 3px #252525;
    border-radius: 10px;
}

#to {
    align-items: left;
}

#mailContent {
    margin-top: 3%;
}