.content-title {
    margin: 40px auto 40px 60px;
    padding: 20px;
    color: #ffffff;
}
.content-title h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    /* text-decoration: underline #00aee7; */
}
.content-title>p {
    text-align: center;
    font-style: italic;
    font-weight: 300;
    font-size: 120%;
    padding: 40px 100px 5px 0;
}
#gems {
    display: flex;
    flex-wrap: wrap;
    min-width: 690px;
    height: min-content;
    align-content: space-around;
    justify-content: space-around;
    margin: auto 70px;
    padding: 0 20px 0 30px;
}
.gem {
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #292929;
}
.gem>a {
    text-decoration: none;
}
.gem-name {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.3rem;
    padding: 10px 0;
}
.gem-origin {
    color:white;
}
.gem-price {
    color: #eb7f2d;
    padding: 7px 0;
}
.gem img  {
    border-radius: 20px;
    width: 250px;
}
.gem:hover {
    cursor: pointer;
    transition: 0.3s ease-in;
    transform: scale(1.01);
    filter: drop-shadow(0px 0px 10px #00ade788);
}
#geode-img {
    background-image: url("/img/indeximg1.jpg");
}
#rough-gems-img {
    background-image: url("/img/indeximg2.jpg");
}
#crystals-img {
    background-image: url("/img/indeximg3.jpg");
}
.categ-img {
    width: 100vw;
    height: 600px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.index-img-button {
    width: 300px;
    height: 50px;
    margin-left: 20%;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}
.index-img-button>a {
    width: 100%;
    text-align: center;
    color: whitesmoke;
    font-weight: 600;
    font-size: x-large;
    text-decoration: none;
    padding: 10px;
    transition: 0.3s ease;
}
.index-img-button>a:hover {
    color:black;
}
.index-img-button:hover {
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transform: scale(1.05);
}