@font-face {
    font-family: "Quicksand";
    src: url(/fonts/Quicksand-Medium.ttf);
}
@font-face {
    font-family: "Quicksand-bold";
    src: url(/fonts/Quicksand-Bold.ttf);
}
:root {
    --color-white: #ffffff;
    --color-cream: #e1c2a2;
    --color-black: #292929;
    --color-grey: #3f3f3f;
    --color-lightgrey: #505050;
    --color-lightgreen: #25b873;
    --color-green: #179c31;
    --color-blue: #00aee7;
    --color-orange: #eb7f2d;
    --color-red: #ff2600;
}
*, *::before, *::after {
    font-family: "Quicksand";
    font-weight: 400;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    min-width: min-content;
    overflow-x: hidden;
    height: 100vh;
    min-width: fit-content;
    background-color: var(--color-cream);
}
header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
}
#top-container {
    display: flex;
    min-width: 800px;
    height: 120px;
    color: var(--color-white);   
    background-color: var(--color-black);
}
#top-logo-content {
    align-self: center;
    min-width: 180px;
    max-width: 180px;
    height: max-content;
}
#top-logo-img {
    width: 100%;
    padding: 0.4rem;
}
#top-logo {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.4));
}
#top-logo:hover {
    filter: drop-shadow(1px 1px 8px rgba(255, 255, 255, 0.6));
}
#header-container {
    width: 100%;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
}
#header-title {
    flex: 80%;
    padding: 0.4rem;
    align-self: center;
}
#header-title h1 {
    text-align: start;
    white-space: nowrap;
    font-size: 60px;
    font-weight: bolder;
    padding: 0 30px 0 50px;
}
#header-log-cart {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
}
#header-log {
    flex: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.log-btn {
    width: 75px;
    margin: 10px 5px;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in;
    color: var(--color-white);
    border: 1px solid var(--color-cream);
    background-color: var(--color-grey);
}
.log-btn:hover {
    border: 1px solid var(--color-blue);
    background-color: var(--color-lightgrey);
    cursor:pointer;
}
#connected {
    width: 40px;
    height: 40px;
    margin: 10px 10px;
    border-radius: 50%;
    border: 1px solid var(--color-blue);
}
#connected-img {
    width: 100%;
    height: 100%;
}
#circle {
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    border: solid 1px black;
    transform: translate(220%, -100%);
}
#connected-login {
    position: absolute;
    right: 100px;
    top: 90px;
    padding: 8px;
    color: var(--color-black);
    background-color: var(--color-cream);
    border-radius: 5px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    filter: drop-shadow(1px 1px 8px rgba(255, 255, 255, 0.3));
    transition: visibility 0.2s ease, opacity 0.2s ease;
}
#header-cart {
    flex:5%;
    height: 100%;
    margin-right: 7px;
}
#header-cart-content{
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
}
#cart-img-div {
    display: flex;
    width: 100%;
    height: 80%;
    border-radius: 5px;
    padding: 0 10px;
    text-align: center;
    align-self: center;
    transition: 0.3s ease-in;
    border: 2px solid transparent;
}
#cart-img-div:hover {
    background-color: var(--color-grey);
    border: 2px solid var(--color-blue);
    cursor: pointer;
}
#cart-img {
    width: 50px;
    height: 50px;
    margin: auto 3px auto auto;
}
#cart-content {
    width: 325px;
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
}
#cart-items-nb {
    width: 22px;
    height: 22px;
    margin-left: 25px;
    top: 7px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20pt;
    background-color: red;
    font-size: 12px;
    font-weight: 700;
}
#cart-items {
    visibility: hidden;
    width: 300px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 75px;
    right: 275px;
    background: #242424;
    border-radius: 15px;
    padding: 10px;
    min-width: max-content;
}
.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.cart-item>img{
    border-radius: 15%;
}
.cart-item:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--color-white);
    text-align: center;
    font-weight: 700;
}
.cart-item-name {
    font-size: 1rem;
    max-width: 150px;
}
.cart-item-quantity {
    font-size: 1rem;
    margin: 0 10px;
}
#nav-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    min-width: 800px;
    height: 50px;
    font-size: 1.3rem;
    background-color: var(--color-grey);
}
#head-nav {
    width: 60%;
    min-width: min-content;
    height: 100%;
    padding: 0 100px;
}
#head-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    list-style-type: none;
}
.li-elem {
    flex: auto;
    height: 100%;
    transition: 0.2s;
    border-bottom: 1px solid var(--color-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}
.li-elem>a {
    text-align: center;
    padding: 13px 40px;
    text-decoration: none;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.li-elem:hover {
    background-color: var(--color-lightgrey);
    cursor: pointer;
    border-bottom: 5px solid var(--color-blue);
}
main {
    display: flex;
    width: 100vw;
    min-width: 100vw;
}
main aside {
    background-color: var(--color-grey);
}
#side-nav {
    display: flex;
    position: sticky;
    flex-direction: column;
    width: 65px;
    min-width: 35px;
    top: 10px;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-grey);
    transition: width 0.4s ease-in-out;
}
#side-nav.active {
    width: 200px;
}
#side-nav-menu-img {
    margin: 10px 0 20px 20px;
    transition: 0.2s ease;
}
#side-nav-menu-img:hover {
    filter:contrast(200%);
    cursor: pointer;
}
#side-nav a, .dropdown-btn, .dropdown-container>a {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--color-white);
    padding: 15px 20px;
    border: none;
    background: none;
    text-decoration: none;
    transition: 0.2s ease;
}
#side-nav a span, .dropdown-btn span {
    margin-left: 20px;
    min-width: max-content;
}
#side-nav>a:hover, .dropdown-btn:hover, .dropdown-container>a:hover {
    background-color: var(--color-lightgrey);
    cursor: pointer;
    border-left: 4px solid var(--color-blue); 
    color: var(--color-white);
}
#side-nav-log-out {
    margin-left: 5px;
}
.dropdown-container {
    display: none;
    flex-direction: column;
    background-color: var(--color-lightgrey);
    padding-left: 15px;
}
.dropdown-container.active {
    display: flex;
    background-color: var(--color-lightgrey);
}
.dropdown-container a {
    font-size: 1rem;
    min-width: max-content;
    margin-left: 30px;
}
.dropdown-container>a:hover {
    background-color: var(--color-lightgrey);
}
#page-content {
    width: 96vw;
    min-width: 735px;
    height: min-content;
    text-align: justify;
    transition: width 0.4s ease;
    transition-delay: width 0.4s ease;
}
.resize {
    width: 86vw;
    transition: width 0.4s ease;
}
.black-bg-div {
    width: 100%;
    height: 83vh;
    color: #181818;
    background-color: var(--color-cream);
    border-bottom: solid 2px #adb1b5
}
.main-container {
    width: 100%;
    min-width: 735px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: width 0.4s ease;
}
.main-title {
    padding: 0 50px 50px 50px;
    font-weight: 300;
    font-size: 600%;
}
#div-btn-journey {
    text-align: center;
    font-size: 120%;
    font-weight: 400;
    padding: 20px 0;
    border: solid 2px #000000;
    background-color: rgba(255, 255, 255, 0.05);
    transition: 0.3s ease;
}
#div-btn-journey>a{
    padding: 20px 40px;
    color: #000000;
    text-decoration: none;
}
#div-btn-journey:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.main-content-subtitle {
    color: #726f6f;
}
.main-content-text {
    width: 60%;
    word-wrap: normal;
    font-size: 150%;
    font-weight: 500;
    margin: 50px auto;
    text-align: center;
}
footer {
    bottom: 0;
    left: 0;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-width: fit-content;
    padding: 40px 230px;
    background-color: var(--color-black);
    cursor: pointer;
}
#footer-container {
    width: max-content;
}
#footer-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style:none;
    text-align:center;
    margin: 20px 0;
}
.footer-list-item {
    padding: 0 20px;
}
.footer-list-item a {
    font-weight: 600;
    color: var(--color-cream);
    text-decoration:none;
    transition: 0.3s ease-in;
}
.footer-list-item a:hover {
    color: var(--color-blue);
    transform: scale(1.02);
}
#footer-logo-img {
    min-width: 125px;
    max-width: 125px;
    height: fit-content;
    margin: 15px auto;
}
#footer-logo {
    padding: 10px 0 10px 8px;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.384));
}
#footer-logo:hover {
    filter: drop-shadow(1px 1px 14px rgba(255, 255, 255, 0.6));
}
#copyright {
    font-size: 140%;
    font-weight: 700;
    text-align: center;
    color: var(--color-white);
}