#container {
    min-width: fit-content;
    display: flex;   
    flex-direction: column;
    margin: 5% 17%;
    padding: 60px 80px;
    text-align: center;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 10px;
    transition: width 0.4s ease;
}
#description {
    display: flex;
    margin: 3% auto 0;
    flex-direction: column;
    text-align: center;
}
.lign {
    background-color: var(--color-lightgrey); 
    height: 3px; 
    border: 3px;
    border-radius: 10px;
    margin: 0 20%;
}
.title {
    color: var(--color-orange);
    margin-bottom: 20px;
}
.part1 {
    min-width: fit-content;
    margin-bottom: 30px;
}
.part1 p {
    color: var(--color-white);
    text-align: justify;
}
.part2 {
    padding: 3%;
}
h1 {
    text-align: center;
    padding: 20px 0;
}
.about-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 50px;
}
.name {
    color: var(--color-orange);
    font-weight: 450;
    font-size: 20px;
}
.ceo {
    color: var(--color-white);
    text-align: center;
    border: solid 2pt var(--color-black);
    border-radius: 10px;
    background-color: var(--color-grey);
    padding: 4%;
}
i {
    color: var(--color-blue);
}
#container a {
    padding-left: 5px;
    text-decoration: none;
    color: var(--color-blue);
}
#container a:visited {
    color: var(--color-blue);
}
li {
    list-style: none;
}
.paragraph {
    padding: 40px 0;
    text-align: justify
}