.content-title {
    min-width: 555px;
    margin: 40px;
    padding: 20px;
    color: var(--color-black);
    border-radius: 20px;
    background-color: var(--color-white);
}
.content-title h1 {
    font-family: "Quicksand-bold";
    width: 100%;
    text-align: center;
    font-size: 400%;
    font-weight: 700;
}
.content-title>p {
    width: 100%;
    text-align: center;
    font-style: italic;
    font-weight: 300;
    font-size: 120%;
    padding: 40px;
    color: var(--color-black);
}
#gems {
    display: flex;
    flex-wrap: wrap;
    min-width: fit-content;
    height: min-content;
    align-content: space-around;
    justify-content: space-around;
    padding: 0 30px 30px 30px;
    margin: 0 40px 40px 40px;
    border-radius: 20px;
    background-color: var(--color-white);
}
.gem {
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-grey);
}
.gem>a {
    text-decoration: none;
}
.gem-name {
    color: var(--color-white);
    font-weight: 700;
    font-size: 1.3rem;
    padding: 10px 0;
}
.gem-origin {
    color: var(--color-white);
}
.gem-price {
    font-size: 1.3rem;
    font-family: "Quicksand-bold";
    color: var(--color-red);
    padding: 7px 0;
}
.gem img  {
    border-radius: 20px;
    width: 250px;
}
.gem:hover {
    cursor: pointer;
    transition: 0.3s ease;
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 15px var(--color-white));
}
#slider-container {
    width: 100%;
    min-width: fit-content;
    padding: 30px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
}
#slider-all {
    display: flex;
    flex-direction: row;
    width: 510px;
}
.slider-single-center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 5px;
}
.disabled {
    display: none;
}
.slider-single-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.single-title {
    font-family: "Quicksand-bold";
    font-size: 400%;
    font-weight: bolder;
    padding: 0 0 20px 0;
}
.slider-single-title-img {
    width: 70px;
    height: auto;
    padding: 0 0 0 5px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    transition: filter 0.2s ease;
}
.slider-single-title-img:hover {
    filter: invert(70%);
}
.slider-single-img {
    width: 100%;
    min-width: min-content;
    height: auto;
}
.single-img {
    width: 500px;
    height: 500px;
    border-radius: 100%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
    transition: 0.6s ease;
}
.single-img:hover {
    transform: scale(1.10);
}
.slider-btn {
    transform: translate(0, 90px);
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50px;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.slider-btn:hover .extend-bg {
    height: 350px;
    cursor: pointer;
}
.arrow {
    width: 45px;
    height: 45px;
    padding-right: 5px;
}
.rotate180deg {
    transform: rotate(180deg);
}
.extend-bg {
    position: absolute;
    z-index: -1;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    transition: height 0.7s ease;
    background-color: var(--color-white);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.add-cart {
    margin-top: 10px;
}
.add-cart button {
    padding:4px;
    border: solid 1px transparent;
    border-radius: 7px;
    width: 40%;
    color: white;
    background-color: #eb7f2d;
}
.add-cart button:hover {
    background-color: #d15d05
} 