.container {
    display: flex;   
    flex-direction: column;
    width: 100%;
    min-width: fit-content;
    justify-content: flex-start;
    align-items: center;
    height: 120vh;
    color: var(--color-white);
    padding: 40px 0;
}
#top-title {
    color: var(--color-black);
    margin: 30px auto;
}
.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 400px;
    max-width: 400px;
    padding: 20px auto 40px auto;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: var(--color-black);
    border-radius: 10px;
    padding: 20px 40px 30px 40px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}
.contain {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    text-align: center;
}
label {
    text-align: left;
    margin-bottom: 10px;
}
input {
    height: 25px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
    margin: 5px 0;
    padding-left: 5px ;
}
input:focus {
    outline-style: none;
    outline: none;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);;
}
.sign-button {
    color: var(--color-white);
    background-color: var(--color-green);
}
.sign-button:hover {
    transition:0.1s;
    cursor: pointer;
    background-color: var(--color-lightgreen);
}
#sign-up-container {
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    background-color: var(--color-black);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    text-align: center;
    padding-bottom: 20px;
}
#sign-up-link {
    padding-left: 5px;
    text-decoration: none;
    color: var(--color-blue);
}
#sign-up-link:visited {
    color: var(--color-blue);
}