#gem-container {
    width: 100%;
    min-width: fit-content;
    padding: 30px;
    background-color: var(--color-cream);
}
#top-gem-container {
    width: 100%;
    margin: 10px 10px;
    height: fit-content;
    border-radius: 20px;
    background-color: var(--color-white);
}
#gem-header {
    min-width: 100%;
    height: auto;
    max-width: max-content;
    padding: 20px 30px;
    margin: 0 0 10px 0;
    border-bottom: 2px solid var(--color-cream)
}
#gem-name {
    color: var(--color-black);
    font-family: "Quicksand-bold";
    text-align: left;
    word-wrap: normal;
    padding: 0 0 10px 0;
}
#gem-header-origin {
    font-style: italic;
    color: var(--color-grey);
    font-family: "Quicksand";
    font-size: 1.3rem;
}
.flex-row-wrap-content {
    width: 100%;
    min-width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
}
#gem-img-content {
    width: 440px;
    height: 440px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-start;
    border-radius: 20px;
    margin: 5px;
    background-color: var(--color-grey);
    box-shadow: 0px 0px 12px var(--color-white);
}
#gem-img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    transition: all 0.5s ease;
    transition-delay: 0.5s;
    z-index: 2;
    cursor: pointer;
}
#gem-img:hover {
    width: 490px;
    height: 490px;
    box-shadow: 0px 0px 20px var(--color-white);
}
#gem-buy-content {
    width: 440px;
    height: 500px;
    justify-self: flex-end;
    border-radius: 20px;
    padding: 20px;
    margin: 5px;
}
#gem-buy-content-price {
    width: 100%;
    height: min-content;
    padding: 20px 10px;
    border-bottom: 2px solid var(--color-cream);
}
#gem-buy-content-price h1 {
    font-family: "Quicksand-bold";
    color: var(--color-red);
    font-weight: bolder;
    font-size: 250%;
    padding-bottom: 10px;
}
#gem-buy-content-stock {
    padding: 20px 10px;
    border-bottom: 2px solid var(--color-cream);
}
.available {
    font-size: 1.5rem;
    font-family: "Quicksand-bold";
    font-weight: bolder;
    color: var(--color-lightgreen);
    margin-bottom: 10px;
}
.not-available {
    font-size: 1.5rem;
    font-family: "Quicksand-bold";
    font-weight: bolder;
    color: var(--color-red);
    margin-bottom: 10px;
}
#select-quantity {
    width: 100%;
    padding: 20px 0 10px 0;
}
#quantity-indicator span{
    font-family: "Quicksand-bold";
    font-weight: bolder;
}
#quantity-selector {
    width: 100%;
    display: flex;
    flex-direction: row;
}
#quantity-selector-btns {
    width: 25%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    padding: 15px 0 0 0;
}
.quantity-btn {
    width: 30px;
    height: 25px;
    background-color: var(--color-white);
    border-radius: 7px;
    border: 1px solid var(--color-black);
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.4s ease;
}
.quantity-btn:active {
    transform: scale(0.95);
}
#quantity-less:hover {
    background-color: var(--color-red);
    color: var(--color-white);
}
#quantity-more:hover {
    background-color: var(--color-lightgreen);
    color: var(--color-white);
}
#status-quantity {
    padding: 15px 0 0 20px;
    text-align: center;
    color: var(--color-black);
}
.cart-buy-btn {
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    border-radius: 7px;
    padding: 5px;
    margin: 10px 0;
    transition: all 0.2s ease;
}
.cart-buy-btn:active {
    transform: scale(0.96);
}
#add-to-cart {
    color: var(--color-white);
    background-color: var(--color-orange);
    border: 1px solid var(--color-black);
}
#add-to-cart:hover {
    background-color: #d15d05;
}
#buy-now {
    color: var(--color-black);
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
}
#buy-now:hover {
    color: var(--color-white);
    background-color: var(--color-black);
    border: 1px solid var(--color-white);
}
#shipping {
    padding: 20px 10px;
}
#bot-gem-container {
    width: 100%;
    margin: 10px 10px;
    height: fit-content;
    border-radius: 20px;
    background-color: var(--color-white);
}
#gem-description-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
}
#gem-descr {
    padding: 20px;
}
h2 {
    font-family: "Quicksand-bold";
    padding: 0 0 10px 0;
}
#gem-infobox {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-grey);
}
#gem-infobox h2 {
    color: var(--color-white);
}
.spacer {
    min-width: 150px;
    padding: 10px 10px;
}
.data-name {
    color: var(--color-blue);
    font-family: "Quicksand-bold";
    font-size: 1.2rem;
    text-align: center;
}
.data-value {
    text-align: center;
    color: var(--color-white);
}