*, *::before, *::after {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    min-width: min-content;
    overflow-x: hidden;
    height: 100vh;
    min-width: fit-content;
    background-color: #3f3f3f;
}
header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
#top-container {
    display: flex;
    height: 120px;
    color: #ffffff;   
    background-color: #141414;
}
#top-logo-content {
    align-self: center;
    min-width: 180px;
    max-width: 180px;
    height: max-content;
}
#top-logo-img {
    width: 100%;
    padding: 0.4rem;
}
#top-logo {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.384));
}
#top-logo:hover {
    filter: drop-shadow(1px 1px 8px rgba(255, 255, 255, 0.6));
}
#header-container {
    width: 100%;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
}
#header-title {
    flex: 80%;
    padding: 0.4rem;
    align-self: center;
    min-width: min-content;
}
#header-title h1 {
    text-align: start;
    white-space: nowrap;
    font-size: 60px;
    font-weight: 900;
    padding: 0 30px 0 50px;
}
#header-log-cart {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
}
#header-log {
    flex: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.log-btn {
    width: 70px;
    margin: 10px 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease-in;
    color: #ffffff;
    background-color: #494949;
}
.log-btn:hover {
    background-color: #474747;
    border: 1px solid #00aee7;
    cursor:pointer;
}
#header-cart {
    flex:5%;
    height: 100%;
    margin-right: 7px;
}
#header-cart-content{
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
}
#cart-img-div {
    display: flex;
    width: 100%;
    height: 80%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    align-self: center;
    transition: 0.3s ease-in;
    border: 2px solid transparent;
}
#cart-img-div:hover {
    background-color: #525252;
    border: 2px solid #00aee7;
    cursor: pointer;
}
#cart-img {
    width: 50px;
    height: 50px;
    margin: auto;
}
#cart-content {
    width: 325px;
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
}
#cart-items-nb {
    width: 22px;
    height: 22px;
    margin-left: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20pt;
    background-color: red;
    font-size: 12px;
    font-weight: 700;
}
#cart-items {
    visibility: hidden;
    width: 300px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 75px;
    right: 275px;
    background: #242424;
    border-radius: 15px;
    padding: 10px;
    min-width: max-content;
}
.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item>img{
    border-radius: 15%;
}
.cart-item:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: #ffffff;
    text-align: center;
    font-weight: 700;
}

.cart-item-name {
    font-size: 1rem;
    max-width: 150px;
}
.cart-item-quantity {
    font-size: 1rem;
    margin: 0 10px;
}
#nav-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    min-width: fit-content;
    height: 50px;
    font-size: 1.3rem;
    background-color: #292929;
}
#head-nav {
    width: 60%;
    min-width: min-content;
    height: 100%;
    padding: 0 200px;
}
#head-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    list-style-type: none;
}
.li-elem {
    flex: auto;
    text-align: center;
    height: 100%;
    padding: 10px 20px 0 20px;
    transition: 0.2s;
    border-bottom: 1px solid #00aee7;
}
.li-elem>a {
    text-decoration: none;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.li-elem:hover {
    background-color: #474747;
    cursor: pointer;
    border-bottom: 5px solid #00aee7;
}
.li-line {
    width: 2px;
    height: 100%;
    background-color: #ffffff;
}
main {
    display: flex;
    flex: 1;
    width: 100vw;
    min-width: min-content;
    height: min-content;
}
#side-nav {
    display: flex;
    flex-direction: column;
    width: 11vw;
    min-width: min-content;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #292929;
    box-shadow: 5px 18px 15px rgba(0, 0, 0, 0.25);
}
#side-nav>a, .dropdown-btn, .dropdown-container>a {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 400;
    color: #c9c9c9;
    padding: 10px 20px;
    border: none;
    background: none;
    text-decoration: none;
    transition: 0.2s ;
}
#side-nav>a:hover, .dropdown-btn:hover, .dropdown-container>a:hover {
    background-color: #3f3f3f;
    cursor: pointer;
    border-left: 4px solid #00aee7; 
    color: #ffffff;
}
.active {
    background-color: #3d3d3d;
    font-weight: 600;
}
.dropdown-container {
    display: none;
    flex-direction: column;
    background-color: #3d3d3d;
    color: #181818;
    padding-left: 15px;
}
.dropdown-container a {
    font-size: 1rem;
}
#page-content {
    width: 89vw;
    min-width: min-content;
    height: min-content;
    margin-bottom: 60px;
    padding: 3rem;
    text-align: justify;
}
.content-title {
    margin: 40px auto 40px 6%;
    color: #ffffff;
}
.content-title h1 {
    font-size: 3rem;
    font-weight: 900;
}
footer {
    bottom: 0;
    left: 0;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 40px 0;
    background-color: #181818;
    color: #aaaaaa;
    cursor: pointer;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.25);
}  
#footer-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style:none;
    text-align:center;
}
.footer-list-item {
    padding: 0 10px;
}
.footer-list-item a {
    font-weight: 600;
    color: #aaaaaa;
    text-decoration:none;
    transition: 0.3s ease-in;
}
.footer-list-item a:hover {
    color: #ffffff;
}
#footer-logo-img {
    min-width: 125px;
    max-width: 125px;
    height: fit-content;
    margin: 15px auto;
}
#footer-logo {
    padding-left: 8px;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.384));
}
#footer-logo:hover {
    filter: drop-shadow(1px 1px 15px rgba(255, 255, 255, 0.6));
}
#copyright {
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}