.container {
    display: flex;   
    flex-direction: column;
    width: 100vw;
    min-width: min-content;
    height: 69vh;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
    color: #ffffff;
}
#top-title {
    margin: 30px auto;
}
.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    max-width: 400px;
    padding: 20px auto 40px auto;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #323232;
    border-radius: 10px;
    padding: 20px 40px 30px 40px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}
.contain {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    text-align: center;
}
label {
    text-align: left;
    margin-bottom: 10px;
}
input {
    height: 1.5rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);
    margin: 5px 0;
    padding-left: 5px ;
}

input:focus {
    outline-style: none;
    outline: none;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);;
}
.sign-button {
    color: #ffffff;
    background-color: #179c31;
}
.sign-button:hover {
    transition:0.1s;
    cursor: pointer;
    background-color: #238636;
}
#sign-up-link {
    padding-left: 5px;
    text-decoration: none;
    color: rgb(134, 172, 254);
}
#sign-up-link:visited {
    color: rgb(134, 172, 254);
}